.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    padding: 5rem;
}

.footercontainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
}
