.navcontainer {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
    
}

.company {
    flex-grow: 4;
    letter-spacing: 5px;
    font-weight: 800;
    font-size: 1.2rem;
}

.item {
    display: none;
}

.activelink {
    text-decoration: underline;
    color: var(--color-link-primary);
}

.itemcontainer {
    flex-grow: 5;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-transform: uppercase;
    font-size: 0.9rem;
}

@media (min-width: 700px) {
    .item {
        display: block;
    }

    .itemcontainer {
        justify-content: space-between;
    }

    .hamburger {
        display: none;
    }
}

.mobilenav {
    min-width: 100vw;
    min-height: 100vh;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 2rem;
    transform: translateX(-100%);
    transition: transform 350ms ease-out;

    div {
        padding: 1rem;

        &:first-of-type {
            margin-top: 4rem;
        }

        font-size: 2rem;
    }

    .close {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    &.visible {
        transform: translateX(0%);
        transition: transform 350ms ease-out;
    }
}
