.footer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 50px 0 0 0;
    background: rgb(244,192,240);
    background: radial-gradient(circle, rgba(244,192,240,0.47522759103641454) 0%, rgba(121,9,106,0.5116421568627452) 43%, rgba(0,212,255,1) 100%);
    padding: 50px;
    width: 1000vh;
}