.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
}

.buttonAdd {
    background-color: seagreen!important;
    color: white!important;
}