html,
body {
    padding: 0;
    margin: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
        --color-text-primary: #121212;
        --color-background-main: #FAF9F6;
        --color-link-primary: darkgreen;
        --color-card-background: white;
        --color-button-primary: #1D5EFF;
        --color-button-second: white;
        --color-error: #D84646;
        --color-warning:  #F68B1C;
        --color-information:#1E95D6;
        --color-succes: #4E9A51;
        --color-textfield-background: #f5f5dc;
        --color-table-secondary: rgb(222, 222, 224);



        background-color: var(--color-background-main);
        color: var(--color-text-primary);

        
}


body.darkmode {
    --color-background-main: #23242A;
    --color-text-primary: #FAF9F6;
    --color-link-primary: #fae494;
    --color-card-background: #323741;
    --color-button-primary: #1D5EFF;
    --color-button-second: lightblue;
    --color-textfield-background: #323741;
    --color-table-secondary: rgb(59, 59, 61);

    
    
}

a {
    color: var(----color-link-primary);
    text-decoration: none;
}

a:hover {
    color: var(--color-link-primary);
}

* {
    box-sizing: border-box;
}

h1, h2, h3 ,h4, h5, h6, p {
    margin: 0;
}



button {
    background-color: var(--color-button-primary);
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
        rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
    color: white;
    cursor: pointer;
    height: 3.2em;
    margin: 12px 0 0;
    overflow: hidden;
    padding: 0.8em;
    text-align: center;
    letter-spacing: 1px;
    border: 1px solid var(--color-button-primary);

    &:hover {
        background-color: var(--color-background-main);
        color: var(--color-text-primary);
        border-color: var(--color-text-primary);
    }    
}

button[disabled] {
    color: white;
    cursor: no-drop!important;
    border: 1px solid grey;
    background-color: grey;
}

button:disabled {
    cursor: default;
}

button.mb {
    margin-bottom: 1em;
}

button.outline {
    background-color: var(--color-main-background);
    border: 1px solid var(--color-text-primary);
    color: var(--color-text-primary);

    &:hover {
        color: var(--color-button-primary);
        border: 1px solid var(--color-button-primary);
    }

}

button.contained {
    max-width: 200px;
}

.textfield-input {
    background-color: var(--color-textfield-background);
    height: 2.5rem;
    margin-bottom: 1em;
    border-radius: 10px;
    border: 1px solid var(--color-textfield-background);
    padding: 1em;
    color: var(--color-text-primary);
}

.form {
    display: flex;
    flex-direction: column;}

/* ============================================================================================================================*/
/* ============================================================== TABLE ========================================================*/
/* ============================================================================================================================*/

table {
    border-spacing: 0px;
    width: 100%;
    
}

thead {
    text-align: left;
    background-color: #fae494;
    color: #23242A;
    
}

th {
    padding: .8rem 2rem;
    
}

tr {
    &:hover {
        background-color: #fae494;
        color: #23242A;

    }
}

th:not(:first-of-type) {
    padding-left: 0;
}

tr:nth-of-type(even) {
    background-color: var(--color-table-secondary);

    &:hover {
        background-color: #fae494;
        color: #23242A;
    }
}

td {
    padding: 0.5rem 0;
    button {
        margin: 0;
        width: 100%;
    }
    margin: 0;

    &:first-of-type {
        padding-left: 2rem;
    }
}

/* ============================================================================================================================*/
/* ============================================================== LAYOUT WITH SIDEBAR ========================================================*/
/* ============================================================================================================================*/

.maincontent {
    grid-area: s c c c e;
    
}

.sidebar {
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;

    button {
        width: 50%;
        margin-right: 1em;
    }
}

@media (min-width: 700px) {

    .sidebar {
        flex-direction: column;
        flex-basis: 250px;

        button {
            width: 100%;
            margin-right: 0;
        }
    }

    .maincontent {
        grid-area: c;
    }

}



.flex-column {
    display: flex;
    flex-direction: column;
}