.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
}

.card {
    display: flex;
    padding: 1rem;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px; 
    position: relative;
    align-items: center;
    color: var(--color-text-primary);
    background-color: var(--color-card-background)
}

.flag {
    position: absolute;
    right: 10px;
    top: 10px;
}
