.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
    justify-content: start;
    align-content: start;
}

.card {
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px; 
    position: relative;
    color: var(--color-text-primary);
    background-color: var(--color-card-background);
    max-height: 200px;
    border: 1px solid var(--color-card-background);

    &.activequestion {
        border: 1px solid yellow;
    }
}


.flag {
    position: absolute;
    right: 10px;
    top: 10px;
}

.answer {
    position: absolute;
    left: 40vw;
    top: 50%;
    font-weight: 800;
    font-size: 5rem;
}
