

.card {
    display: flex;
    padding: 1rem;
    justify-content: center;
    margin: 0 1rem 1rem 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px; 
    flex-basis: calc(50% - 2rem);
    position: relative;
}

.flag {
    position: absolute;
    right: 10px;
    top: 10px;
}

@media (min-width: 700px) {
    


    .card {
        margin: 10px;
        flex-basis: calc(30% - 0.3rem);
     
    }
}

@media (min-width: 1400px) {
    

    .card {
        flex-basis: 23%;
    }
}
