.item {
    display: inline;
    margin: 0 20px 0 0;
}

.outerMenu {
    width: 100vw;
    height: 140px;
    background: rgb(244,192,240);
    background: radial-gradient(circle, rgba(244,192,240,0.47522759103641454) 0%, rgba(121,9,106,0.5116421568627452) 43%, rgba(0,212,255,1) 100%);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.ulContainer {
    padding: 0!important;
}

.logo {
    margin-top: 30px;
}

.innerMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}